:root {
  --input-font-size: 4vh;
  --field-info-font-size: 0.8em;
}

.edit_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile_img_preview {
  height: 20vmin;
  width: 20vmin;
  margin: 3vmin;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(147, 112, 216, 0.5);
  color: rgb(255, 255, 255);
}

.profile_input_div {
  width: 90%;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  border-bottom: 0.1em solid rgba(211, 211, 211, 0.6);
  border-radius: 6px;
  background-color: rgba(211, 211, 211, 0.2);
}

.profile_input {
  height: 100%;
  width: 100%;
  font-size: var(--input-font-size);
  border: 0;
  outline: none;
  background-color: rgba(211, 211, 211, 0);
  resize: none;
}

.input_info {
  font-size: var(--field-info-font-size);
  font-weight: 700;
}

.fullname_input_div {
  height: 4em;
}

.username_input_div {
  height: 4em;
}

.biodetails_input_div {
  height: 22vh;
}

.profile_img {
  height: 30%;
  width: 30%;
  fill: currentColor;
}

.comment2input_div {
  height: 2.4em;
  width: 90%;
  text-align-last: left;
}

.comment2input {
  font-size: var(--field-info-font-size);
  font-weight: 700;
  padding-left: 4vw;
  padding-right: 4vw;
  color: rgb(211, 211, 211);
}
