:root {
	--input-font-size: 3vh;
}

.form_input {
	height: 6vh;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 1vw;
	border: 1px solid rgba(0, 0, 0, 0.2);
}

.input {
	border: 0;
	outline: none;
	width: calc(100% - 2px);
	font-size: var(--input-font-size);
}

.button_submit {
	display: none;
	background-color: inherit;
	cursor: pointer;
	border: none;
	outline: none;
	border-radius: 100%;
	color: var(--main-bg-color);
	overflow: hidden;
	animation-name: show-submit-button;
	animation-duration: 0.1s;
	animation-timing-function: linear;

	&:focus {
		color: rgba(142, 36, 170, 0.8);
	}

	&:hover {
		color: rgba(142, 36, 170, 0.7);
	}

	&:active {
		background: rgba(0, 0, 0, 0.2);
	}
}

.button_submit_img {
	height: 4vh;
	padding-top: 4px;
	fill: currentColor;
}

@keyframes show-submit-button {
	0% {
		width: 0;
	}

	100% {
		width: 6vh;
	}
}
